* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #454545;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 16px;
    background-color: #121212;
}

header > img {
    height: 40px;
}

main {
    padding: 16px;
    text-align: center;
    color: white;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section > h1 {
    color: #3388ff;
    width: 737px;
    font-size: 42px;
    background: linear-gradient(
        90deg,
        #f88e49 1.63%,
        #e84d5f 30.12%,
        #0f70e4 69.68%,
        #00a459 98.7%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

main > section > h2 {
    color: #33ff88;
}

.subtitle-1 {
    color: #029f69;
}

.subtitle-2 {
    color: #0f71e2;
}

.subtitle-3 {
    color: #e94e5f;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 100px;
    color: white;
    background-color: #454545;
}

footer > div {
    width: 33.33%;
}

footer > div:nth-child(1) {
    text-align: left;
}

footer > div:nth-child(2) {
    text-align: center;
}

footer > div:nth-child(3) {
    text-align: right;
}

footer a {
    color: white;
    text-decoration: none;
}
